In [35]:
#cudf for linux
# %conda install -c rapidsai -c conda-forge -c nvidia cudf=23.04 python=3.10 cudatoolkit=11.8
#https://github.com/rapidsai/cudf
#https://docs.rapids.ai/install#WSL2

In [1]:
import pandas as pd
# import cudf

# Load data to df
## Load data file

In [2]:
import os
from os.path import join

#Gowalla setting
#================================================
DATA_NAME = "Gowalla"
FILE_NAME = "Gowalla_totalCheckins.txt"
COL_NAMES = ['user','time','lat','long','item']
BASE_DATA_RATIO = 7# N/10
INC_RATIO = 3
INC_STEP = 5
#================================================

# config
ROOT_PATH = os.path.abspath("")
DATA_PATH = join(ROOT_PATH+"\\dataset", DATA_NAME)
SAVE_PATH = join(ROOT_PATH,"pdata")
FILE_PATH = join(DATA_PATH, FILE_NAME)
FILT_THRESHOLD = 10

In [4]:
SAVE_PATH

'C:\\Users\\PC\\Desktop\\Study\\KCC\\pdata'

In [5]:
# Load File
origin_df = pd.read_table(FILE_PATH, names=COL_NAMES)
#origin_df = cudf.from_pandas(origin_df)
def print_info(df):
        print(f"Total Edges : {len(df)}\nTotal User : {len(df['user'].unique())}\nTotal item : {len(df['item'].unique())} \
                \nSmallest user id : {df['user'].unique().min()} \
                \nbiggest user id : {df['user'].unique().max()} \
                \nSmallest item id : {df['item'].unique().min()} \
                \nbiggest item id : {df['item'].unique().max()} \
                \nMin Interaction Per user : {df.user.value_counts().min()} \
                \nMax Interaction Per user : {df.user.value_counts().max()} \
                \nAvg Interaction Per user : {df.user.value_counts().mean()}\
                \nMin Interaction Per item : {df.item.value_counts().min()} \
                \nMax Interaction Per item : {df.item.value_counts().max()} \
                \nAvg Interaction Per item : {df.item.value_counts().mean()}")
print_info(origin_df)

Total Edges : 6442892
Total User : 107092
Total item : 1280969
Smallest user id : 0
biggest user id : 196585
Smallest item id : 8904
biggest item id : 5977757
Min Interaction Per user : 1
Max Interaction Per user : 2175
Avg Interaction Per user : 60.16221566503567
Min Interaction Per item : 1
Max Interaction Per item : 5811
Avg Interaction Per item : 5.029701733609478

다음번 부터는 필터링 하고 리팩토링 할것 필요 없는 것들 까지들어가있어서 시간이 훨씬 오래걸린다......

반복문이 아닌 판다스 기본 기능을 활용하니까 훨씬 빠르다

In [21]:
from tqdm import tqdm
from multiprocessing import Pool
import numpy as np




def refactoring_from_0(df):
    out_df = pd.DataFrame() 
    
    original_uid = np.sort(df['user'].unique())
    original_iid = np.sort(df['item'].unique())

    u_range = range(len(original_uid))
    i_range = range(len(original_iid))

    uid_mapping = { o_id: n_id for o_id, n_id in zip(original_uid, u_range)} # 원래 유저 아이디 (중간중간 비어있음) : 순서대로 유저 아이디
    iid_mapping = { o_id: n_id for o_id, n_id in zip(original_iid,i_range)} # 원래 아이템 아이디 : 순서대로 아이템 아이디

    uid_map = pd.DataFrame({'o_id' : list(uid_mapping.keys()), 'n_id' : list(uid_mapping.values())})
    iid_map = pd.DataFrame({'o_id' : list(iid_mapping.keys()),'n_id':list(iid_mapping.values())})

    out_df['user'] = df['user'].map(uid_mapping)
    out_df['item'] = df['item'].map(iid_mapping)
    out_df['time'] = df['time']
    return out_df, uid_map, iid_map

# NUM_CORES = 8

# def user_replace(df):
#     return df.replace({'user':{user_id:id}})

# def item_replace(df):
#     return df.replace({'item':{item_id:id}})


# def parallelize_dataframe(df, func):
#     df_split = np.array_split(df, NUM_CORES)
#     pool = Pool(NUM_CORES)
#     df = pd.concat(pool.map(func, df_split))
#     pool.close()
#     pool.join()
#     return df

# Change each user and item index start from 0
# origin_df.sort_values(by='user',ascending=True)

# # Change user id to start from 0
# id = 0


# for user_id in tqdm(origin_df['user'].unique()):
#     parameter = {'user':{user_id:id}}
#     # origin_df = parallelize_dataframe(origin_df, user_replace)
#     id += 1

# Change item id to start from 0
# origin_df.sort_values(by='item',ascending=True)
# id = 0

# for item_id in tqdm(origin_df['item'].unique()):
#     parameter = {'item':{item_id:id}}
#     # origin_df = parallelize_dataframe(origin_df, item_replace)
#     id += 1

In [16]:
origin_df.head()

   user                  time        lat       long     item
0     0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1     0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2     0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3     0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4     0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878

In [22]:
# Test refactoring function 
temp_df, a, b = refactoring_from_0(origin_df)
print_info(temp_df)
temp_df.head()

Total Edges : 6442892
Total User : 107092
Total item : 1280969
Smallest user id : 0
biggest user id : 107091
Smallest item id : 0
biggest item id : 1280968
Min Interaction Per user : 1
Max Interaction Per user : 2175
Avg Interaction Per user : 60.16221566503567
Min Interaction Per item : 1
Max Interaction Per item : 5811
Avg Interaction Per item : 5.029701733609478

   user     item                  time
0     0    11319  2010-10-19T23:55:27Z
1     0   316537  2010-10-18T22:17:43Z
2     0   240915  2010-10-17T23:42:03Z
3     0     6334  2010-10-17T19:26:05Z
4     0  1267091  2010-10-16T18:50:42Z

In [24]:
# Save refactored dataframe
temp_df.to_csv(DATA_PATH+"_refactored.txt",index=False,header=None)

In [27]:
# Load refactored dataframe
origin_df = pd.read_csv(DATA_PATH+"_refactored.txt", names=temp_df.columns)

In [28]:
origin_df

           user     item                  time
0             0    11319  2010-10-19T23:55:27Z
1             0   316537  2010-10-18T22:17:43Z
2             0   240915  2010-10-17T23:42:03Z
3             0     6334  2010-10-17T19:26:05Z
4             0  1267091  2010-10-16T18:50:42Z
...         ...      ...                   ...
6442887  107090   641922  2010-06-11T13:32:26Z
6442888  107090   679059  2010-06-11T13:26:45Z
6442889  107090   808233  2010-06-11T13:26:34Z
6442890  107091   353112  2010-10-08T21:01:49Z
6442891  107091  1213605  2010-10-07T17:39:18Z

[6442892 rows x 3 columns]

## Preprocessing the data
1. remove duplcaite
2. filter data which have under 10 interaction
3. refactor the id of user and item start from 0

**1. 중복제거**

In [31]:
df = origin_df
print_info(df)
print("\n\n after drop dup \n\n")
# Just interaction and drop duplicate
df = df[['user','time','item']]
df = df.drop_duplicates(subset=['user','item'])
print_info(df)

Total Edges : 6442892
Total User : 107092
Total item : 1280969
Smallest user id : 0
biggest user id : 107091
Smallest item id : 0
biggest item id : 1280968
Min Interaction Per user : 1
Max Interaction Per user : 2175
Avg Interaction Per user : 60.16221566503567
Min Interaction Per item : 1
Max Interaction Per item : 5811
Avg Interaction Per item : 5.029701733609478


 after drop dup


Total Edges : 3981334
Total User : 107092
Total item : 1280969
Smallest user id : 0
biggest user id : 107091
Smallest item id : 0
biggest item id : 1280968
Min Interaction Per user : 1
Max Interaction Per user : 2064
Avg Interaction Per user : 37.176763903933065
Min Interaction Per item : 1
Max Interaction Per item : 2631
Avg Interaction Per item : 3.1080642857087097

In [32]:
# Save Interaction information without filtering
WO_filtering = df
# Sort with ascending order with user first and item
WO_filtering = WO_filtering.sort_values(by=['user','item','time'], ascending=[True,True,True])
WO_filtering, a, b = refactoring_from_0(WO_filtering)

In [33]:
WO_filtering_filename = DATA_PATH + "_WO_Filtering.txt"
if not os.path.exists(WO_filtering_filename):
    WO_filtering.to_csv(WO_filtering_filename,sep=" ", index=False, header=None)

**2. interaction 10개 미만 데이터 필터링**

In [37]:
filtering_filename = DATA_PATH + "_Filtering_refactored.txt"
fdf = df

In [44]:
print_info(fdf)

Total Edges : 3981334
Total User : 107092
Total item : 1280969
Smallest user id : 0
biggest user id : 107091
Smallest item id : 0
biggest item id : 1280968
Min Interaction Per user : 1
Max Interaction Per user : 2064
Avg Interaction Per user : 37.176763903933065
Min Interaction Per item : 1
Max Interaction Per item : 2631
Avg Interaction Per item : 3.1080642857087097

In [63]:
fdf["user"].value_counts()

696      2064
13475    1996
1460     1950
2        1870
752      1856
         ...
96887       1
57670       1
57656       1
96895       1
53698       1
Name: user, Length: 107092, dtype: int64

In [67]:
# user 또는 item의 interaction이 10개 미만인 것들은 필터링
while fdf.user.value_counts().min() < FILT_THRESHOLD or fdf.item.value_counts().min() < FILT_THRESHOLD:
    df_item = fdf.groupby('item').count()
    df_item = df_item[df_item.user < FILT_THRESHOLD]
    li = df_item.index.to_list()
    fdf = fdf.drop(fdf.loc[fdf.item.isin(li)].index)
    # print_info(fdf)
    df_usr = fdf.groupby('user').count()
    df_usr = df_usr[df_usr.item < FILT_THRESHOLD]
    li = df_usr.index.to_list()
    fdf = fdf.drop(fdf.loc[fdf.user.isin(li)].index)
    # print_info(fdf)
    # print(f"Total Edges : {len(fdf)}\nTotal User : {len(fdf['user'].unique())}\nTotal item : {len(fdf['item'].unique())} \
    #             \nMin Interaction Per user : {fdf.user.value_counts().min()} \
    #             \nMax Interaction Per user : {fdf.user.value_counts().max()} \
    #             \nAvg Interaction Per user : {fdf.user.value_counts().mean()}\
    #             \nMin Interaction Per item : {fdf.item.value_counts().min()} \
    #             \nMax Interaction Per item : {fdf.item.value_counts().max()} \
    #             \nAvg Interaction Per item : {fdf.item.value_counts().mean()}")
print_info(fdf)
fdf = fdf.reset_index().drop(columns = ['index'])
fdf

Total Edges : 1027464
Total User : 29858
Total item : 40988
Smallest user id : 0
biggest user id : 106964
Smallest item id : 1
biggest item id : 1279995
Min Interaction Per user : 10
Max Interaction Per user : 1014
Avg Interaction Per user : 34.411681961283406
Min Interaction Per item : 10
Max Interaction Per item : 2310
Avg Interaction Per item : 25.067434371035425

           user                  time     item
0             0  2010-10-19T23:55:27Z    11319
1             0  2010-10-18T22:17:43Z   316537
2             0  2010-10-17T23:42:03Z   240915
3             0  2010-10-17T19:26:05Z     6334
4             0  2010-10-16T18:50:42Z  1267091
...         ...                   ...      ...
1027459  106964  2010-04-27T04:32:19Z    54285
1027460  106964  2010-03-14T18:13:45Z      609
1027461  106964  2010-03-13T03:29:55Z   293444
1027462  106964  2010-02-15T03:33:42Z    39492
1027463  106964  2010-02-13T07:49:03Z   152775

[1027464 rows x 3 columns]

### Refactor to make each user and item number start from 0

In [68]:
fdf, filtered_uid_map, filtered_iid_map = refactoring_from_0(fdf)
print_info(fdf)
fdf

Total Edges : 1027464
Total User : 29858
Total item : 40988
Smallest user id : 0
biggest user id : 29857
Smallest item id : 0
biggest item id : 40987
Min Interaction Per user : 10
Max Interaction Per user : 1014
Avg Interaction Per user : 34.411681961283406
Min Interaction Per item : 10
Max Interaction Per item : 2310
Avg Interaction Per item : 25.067434371035425

          user   item                  time
0            0   4169  2010-10-19T23:55:27Z
1            0  31533  2010-10-18T22:17:43Z
2            0  29074  2010-10-17T23:42:03Z
3            0   2572  2010-10-17T19:26:05Z
4            0  40979  2010-10-16T18:50:42Z
...        ...    ...                   ...
1027459  29857  13173  2010-04-27T04:32:19Z
1027460  29857    392  2010-03-14T18:13:45Z
1027461  29857  30837  2010-03-13T03:29:55Z
1027462  29857  10578  2010-02-15T03:33:42Z
1027463  29857  24374  2010-02-13T07:49:03Z

[1027464 rows x 3 columns]

In [70]:
fdf.to_csv(filtering_filename,sep=" ", index=False, header=None)
filtered_uid_map.to_csv(DATA_PATH+"_filted_uid_map.txt",sep=" ", index=False, header=None)
filtered_iid_map.to_csv(DATA_PATH+"_filted_iid_map.txt",sep=" ", index=False, header=None)

## User-Item Time Sequential Incremental Split

In [75]:
INC_TIME_FILE_PATH = os.path.join(SAVE_PATH,f"Incremental\\{DATA_NAME}\\Time\\")
fdf = fdf.sort_values(by="user", ascending=True)
print(len(fdf))
pivot = len(fdf)*8//10
fdf[:pivot].to_csv(INC_TIME_FILE_PATH + "base.data", sep=" ", header=None, index=False)
print(pivot)
remain = fdf[pivot:]
start = 0
length = (len(fdf) - pivot)//5
inc_block = []
for i in range(INC_STEP):
    if i != INC_STEP-1:
        inc_block.append(remain[start:start+length])
    else:
        inc_block.append(remain[start:])
    start += length
    print(f"Inc{i} Block Size : {len(inc_block[i])}")
    inc_block[i].to_csv(INC_TIME_FILE_PATH+f"inc{i+1}.data", sep = " ", header=None, index=False)

1027464
821971
Inc0 Block Size : 41098
Inc1 Block Size : 41098
Inc2 Block Size : 41098
Inc3 Block Size : 41098
Inc4 Block Size : 41101

# User Incremental

In [76]:
INC_USER_FILE_PATH = os.path.join(SAVE_PATH,f"Incremental\\{DATA_NAME}\\User\\")
print(f"Total User = {len(fdf['user'].unique())}")
# Make df containing number of user interaction
ucdf = fdf.groupby('user').count()
# Shuffle the df
ucdf = ucdf.iloc[np.random.permutation(ucdf.index)].reset_index()

is_base = True

base_user = []
inc_user = [[] for i in range(INC_STEP)]

i = 0
cur = 0

while i < INC_STEP:
    count = 0
    if is_base:
        while count < 821971:
            row = ucdf.iloc[cur]
            base_user.append(row['user'])
            count += row['item']
            cur += 1
        print(f"Base Block Size : {count}")
        with open(INC_USER_FILE_PATH+"base_user.data", 'w') as fp:
            for user in base_user:
                # write each item on a new line
                fp.write("%s\n" % user)
        print('Base Done')
        is_base = False
    elif i == INC_STEP-1:
        inc_user[i]= ucdf[cur:]['user'].values.tolist()
        count = ucdf[cur:]['item'].values.sum()
        with open(INC_USER_FILE_PATH+f"inc_user_{i+1}.data", 'w') as fp:
            for user in inc_user[i]:
                # write each item on a new line
                fp.write("%s\n" % user)
        print(f'Inc{i+1} Done')
        print(f"Inc Block{i+1} Size : {count}")
        i += 1
    else:
        while count <= 41098:
            row = ucdf.iloc[cur]
            inc_user[i].append(row['user'])
            count += row['item']
            cur += 1
        with open(INC_USER_FILE_PATH+f"inc_user_{i+1}.data", 'w') as fp:
            for user in inc_user[i]:
                # write each item on a new line
                fp.write("%s\n" % user)
        print(f'Inc{i+1} Done')
        print(f"Inc Block{i+1} Size : {count}")
        i += 1

Total User = 29858
Base Block Size : 822048
Base Done
Inc1 Done
Inc Block1 Size : 41104
Inc2 Done
Inc Block2 Size : 41103
Inc3 Done
Inc Block3 Size : 41112
Inc4 Done
Inc Block4 Size : 41110
Inc5 Done
Inc Block5 Size : 40987

# Item Incremental

In [77]:
INC_ITEM_FILE_PATH = os.path.join(SAVE_PATH,f"Incremental\\{DATA_NAME}\\Item\\")
print(f"Total Item = {len(fdf['item'].unique())}")
# Make df containing number of user interaction
icdf = fdf.groupby('item').count()
# Shuffle the df
icdf = icdf.iloc[np.random.permutation(icdf.index)].reset_index()

is_base = True

base_item = []
inc_item = [[] for i in range(INC_STEP)]

i = 0
cur = 0

while i < INC_STEP:
    count = 0
    if is_base:
        while count < 821971:
            row = icdf.iloc[cur]
            base_item.append(row['item'])
            count += row['user']
            cur += 1
        print(f"Base Block Size : {count}")
        with open(INC_ITEM_FILE_PATH+"base_item.data", 'w') as fp:
            for item in base_user:
                # write each item on a new line
                fp.write("%s\n" % item)
        print('Base Done')
        is_base = False
    elif i == INC_STEP-1:
        inc_item[i]= icdf[cur:]['item'].values.tolist()
        count = icdf[cur:]['user'].values.sum()
        with open(INC_ITEM_FILE_PATH+f"inc_item_{i+1}.data", 'w') as fp:
            for item in inc_item[i]:
                # write each item on a new line
                fp.write("%s\n" % item)
        print(f'Inc{i+1} Done')
        print(f"Inc Block{i+1} Size : {count}")
        i += 1
    else:
        while count <= 41098:
            row = icdf.iloc[cur]
            inc_item[i].append(row['item'])
            count += row['user']
            cur += 1
        with open(INC_ITEM_FILE_PATH+f"inc_item_{i+1}.data", 'w') as fp:
            for item in inc_item[i]:
                # write each item on a new line
                fp.write("%s\n" % item)
        print(f'Inc{i+1} Done')
        print(f"Inc Block{i+1} Size : {count}")
        i += 1

Total Item = 40988
Base Block Size : 821982
Base Done
Inc1 Done
Inc Block1 Size : 41143
Inc2 Done
Inc Block2 Size : 41104
Inc3 Done
Inc Block3 Size : 41325
Inc4 Done
Inc Block4 Size : 41107
Inc5 Done
Inc Block5 Size : 40803